.container {
  margin-bottom: 44px;
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.question {
  margin-left: 12px;
  font-size: 24px;
  font-weight: 600;
}

.chevron {
  font-size: 30px;
}

.itemActive {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 12px;
}

.answer {
  margin-left: 44px;
  width: 46ch;
  font-size: 18px;
  line-height: 1.4;
  cursor: default;
}
