.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.heading {
  font-size: 22px;
  font-weight: 500;
}

.position {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 2px solid #aaa;
}

.priceEth {
  font-size: 20px;
  font-weight: 800;
}

.availability {
  font-size: 18px;
  margin-bottom: 24px;
}

.nft {
  margin-bottom: 40px;
}

.nftItem {
  font-weight: 800;
  margin-bottom: 8px;
}

.subheading {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 16px;
}

.list {
  list-style-type: initial;
  margin-left: 16px;
}

.benefit {
  font-size: 16px;
  margin-bottom: 14px;
}

/* CRYPTO */

.sectionTwo {
  position: absolute;
  text-align: center;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quantity {
  font-size: 18px;
  margin-bottom: 8px;
}

.counter {
  display: flex;
}

.button {
  width: 40px;
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  background-color: #1d1d1b;
  border: 3px solid #1d1d1b;
  color: #ffffff;
}

#buttonDecrease {
  border-radius: 6px 0px 0px 6px;
}
#buttonIncrease {
  border-radius: 0px 6px 6px 0px;
}

.input {
  width: 80px;
  text-align: center;
  font-weight: 400;
  border: 3px solid #1d1d1b;
  font-size: 18px;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.mintButton {
  margin-top: 32px;
  padding: 12px 48px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  letter-spacing: 0.25px;
  cursor: pointer;
  background-color: #1d1d1b;
  color: #ffffff;
}

.total {
  margin-top: 12px;
}
